div{
    background-color: lightpink
}


h1{
    font-size: 60px;
    text-align: center;
    background-color: darkgray;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.catGif{
    width: 80px;
    height: 80px;
    display: block;
    padding: 10px;
    position: absolute;
    float: right;
 }