ul {
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  column-gap: 30px;
  padding: 0;
  margin-left: 22%;
  margin-right: 22%;
}

li {
  background-color: aliceblue;

  margin-top: 30px;
  border-radius: 16px;
  display: inline-block;
  width: 100%;

  padding-bottom: 28px;
}

img {
  margin-top: 10px;
  border: 2px black;
}

button {
  text-align: center;
  width: 250px;
  height: 60px;
  margin: 30px;
  border-radius: 10px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bolder;
}

span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  display: block;
  padding-block-end: 20px;
}

div {
  text-align: center;
}
