div{
    background-color: lightpink;
    height: 1100px;
}


h1{
    font-size: 60px;
    text-align: center;
    background-color: darkgray;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.catGif{
    width: 120px;
    height: 120px;
    display: block;
    padding: 10px;
    position: absolute;
    float: right;
 }

 p{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
 }